html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Poppins', sans-serif;
}

.button {
    background-color: #076535; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.btn:hover {
    transform: scale(1.05);
}

.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.alert p {
    margin: 0.5rem 0;
}

